[Unit]
Description=Linyaps D-Bus Manager (user)
After=default.target

[Service]
ExecStart=/usr/bin/linyaps-dbus-server
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
